body {
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: verdana;
}
.box_title {
    font-size: 20px;
    font-weight: bold;
}
/* header */
header #main {
    background-color:rgb(44, 44, 44);
    border: none;
    width: 100%;
    height: 40px;
}
/* header end */

/* main content */
#main_content {
    height: 1000%;
    margin-top: 20px;
    display: absolute;
} #main_content #units .box {
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 30px;
    margin-bottom: 10px;
    display: inline-block;
    width: 225px;
    height: 200px;
    background-color: rgb(34, 34, 34);
    text-align: center;
    vertical-align: middle;
} 
#about {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    border-radius: 5px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  } #about .about-content {
    background-color: rgb(34, 34, 34);
    margin: 15% auto; 
    padding: 20px;
    border: 3px solid #888;
    width: 80%; 
  }
/* side bar */
.sidebar {
    display: inline;
    background-color:rgb(39, 39, 39);
    width: 250px;
    height: 80vh;
    float: right;
    border-radius: 5px;
    margin-bottom: 5px;
} .sidebar span {
    margin-left: 3px;
   display: block;
   font-size: 20px;
   letter-spacing: 3px;
   line-height: 35px;
} .sidebar span:hover {background-color: black;}

.no-select {
    -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
}