body {
    background-color: rgb(19, 19, 19);
    color: white;
    font-family: verdana;
}
/* header */
header #main {
    background-color:rgb(44, 44, 44);
    border: none;
    width: 100%;
    height: 50px;
}
/* header end */

/* main content */
#main_content {
    height: 1000%;
    margin-top: 40px;
    display: absolute;
} #main_content .box {
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    display: inline-block;
    width: 225px;
    height: 200px;
    background-color: rgb(34, 34, 34);
} 
/* side bar */
.sidebar {
    display: inline;
    background-color:rgb(39, 39, 39);
    width: 250px;
    height: 100vh;
    float: right;
} .sidebar span {
   display: block;
   font-size: 20px;
   letter-spacing: 3px;
    &:hover {
    background-color: black;
}
}